<nav class="flex items-center space-x-4 text-xl">
  <a href="#about" class="text-slate-300 transition-colors duration-300 ease-in-out hover:text-[#ffde59]">
    Sobre mi
  </a>
  <span class="text-slate-600">|</span>
  <a href="#skills" class="text-slate-300 transition-colors duration-300 ease-in-out hover:text-[#ffde59]">
    Habilidades
  </a>
  <span class="text-slate-600">|</span>
  <a href="#projects" class="text-slate-300 transition-colors duration-300 ease-in-out hover:text-[#ffde59]">
    Proyectos
  </a>
</nav>