---
import { FaGithub, FaLinkedin } from 'react-icons/fa'
---
<div class="container mx-auto px-8 flex flex-col md:flex-row items-center justify-between w-full">
  <div class="md:w-3/4">
    <p class=" text-gray-400 mb-2 text-2xl">Matheuzkm</p>

    <h1 class="text-5xl md:text-6xl font-bold leading-tight mb-4">
      <span class="text-[#cb6ce6]">Aprendiendo</span> y Creando<br />
      Soluciones<span class="text-[#cb6ce6]">.</span>
    </h1>
    <div class="flex items-center space-x-4 mb-6">
      <a href="https://github.com/Matheuzk/Equigrafo" 
         target="_blank" 
         class="text-pink-500 hover:text-pink-400 transition-colors duration-300 ease-in-out hover:shadow-github">
        <FaGithub size={32} />
      </a>
      <a href="https://linkedin.com/in/mateo-antonio-valencia-rojas-409454326" 
         target="_blank" 
         class="text-cyan-400 hover:text-cyan-300 transition-colors duration-300 ease-in-out hover:shadow-linkedin">
        <FaLinkedin size={32} />
      </a>
    </div>
    <p class="text-xl mb-2">
      <span style="color: #ffde59;">&#123;</span>
      <span class="text-white"> Mateo valencia </span>
      <span style="color: #ff66c4;">&#125;</span>
    </p>
    <p class="text-gray-500 text-2xl">Frontend Designer / Backend Developer</p>
  </div>
  <div class="mb-8 md:mb-0 md:ml-auto md:w-1/4">
    <img
      src="/assets/perfil.png"
      alt="Avatar"
      class="w-64 h-64 rounded-2xl object-cover"
    />
  </div>
</div>

<style>
  .hover\:shadow-github:hover {
    filter: drop-shadow(0 0 10px rgba(236, 72, 153, 0.6)); /* Color rosa */
  }
  .hover\:shadow-linkedin:hover {
    filter: drop-shadow(0 0 10px rgba(34, 211, 238, 0.6)); /* Color cian */
  }
</style>