---
import '../styles/global.css';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio</title>
  </head>
  <body class="bg-[#121212] text-slate-100 min-h-screen relative antialiased">
    <slot />
  </body>
</html>
